.list {
	margin-left: 400px;
	margin-right: 400px;
}

.btnColor {
	background-color: rgba(255,255,255,0);
    border-color: #000000;
    border-radius: 1px;
    border-width: 1px;
    color: #000000;
}

.btnColor:hover {
	-webkit-transition: background-color 0.2s;
	background-color: rgba(150,150,210,0.2);
    border-color: #000000;
    border-radius: 1px;
    border-width: 1px;
    color: #000000;
}