
<div class="jumbotron text-center">

	<div class="pg">
		<h1>About Us</h1>
		<img src="https://my.mixtape.moe/tilzoe.png">
		<p> We are a group of entrepreneurial individuals who wants to make a change in the society by encouraging
			customers to give constructive feedback. In this way, customers feel that their voice are being heard
			and companies are given the resources to understand their potential customers' needs and demands.
		</p>
		<p>
			Feel free to contact us at <a href="mailto:wmloh@uwaterloo.ca">wmloh@uwaterloo.ca</a> for more details!
		</p>
	</div>
	<br>
	<div class="pg">
		<h1>Our Philosophy</h1>
		<br>
		<div class="leftSide">
			
			<h2>Businesses</h2>
			<br>
			<img src="https://my.mixtape.moe/qoqbhd.PNG">
			<p>
				In today's data-driven economy, knowing how your consumers' behaviours and demands are imperative to
				keep the business growing.
			</p>
			<br>
			<img src="https://my.mixtape.moe/rtwpdh.PNG">
			<p>
				By using a platform where users congregate to evaluate companies based on their service and products,
				businesses could stand out amongst the crowd if customers' voices are heard.
			</p>
			<br>
			<br>
			<img src="https://my.mixtape.moe/cvnoow.PNG">
			<p>
				Our services enable a more contemporary approach to customer relationship management (CRM) which 
				could capture potential customers' attention.
			</p>
			<br>
		</div>

		<div class="rightSide">
			<h2>Customers</h2>
			<br>

			<img src="https://my.mixtape.moe/dvgttb.PNG">
			<p>
				Who does not want a free cookie? With just a scan using your smartphone camera and filling out a 
				short form, the cookie will be yours!
			</p>
			<br>
			<img src="https://my.mixtape.moe/rdszef.PNG">
			<p>
				If you are happy with the services or products of a certain company, this is the place to give your
				note of encouragement. If you are not, then this is the place to share what you think could have been 
				improved.
			</p>
			<br>
			<img src="https://my.mixtape.moe/csrrvy.PNG">
			<p>
				When people are able to freely about to convey feedback, companies will certainly know that their 
				reputation is at stake. This means that businesses will want to maintain business integrity to ensure
				that every one of you is satisfied.
			</p>
		</div>
	</div>

</div>

