
<div class="jumbotron text-center">

	<div class="pg">
		<h1>About Us</h1>
		<img src="https://my.mixtape.moe/tilzoe.png">
		<p> We are a group of entrepreneurial individuals who wants to make a change in the society by encouraging
			customers to give constructive feedback. In this way, customers feel that their voice are being heard
			and companies are given the resources to understand their potential customers' needs and demands.
		</p>
		<p>
			Feel free to contact us at <a href="mailto:wmloh@uwaterloo.ca">wmloh@uwaterloo.ca</a> for more details!
		</p>
	</div>
	<br>
	<div class="pg">
		<h1>Our Philosophy</h1>
		
	</div>

</div>

