
<div class="jumbotron text-center">
	<img src="https://my.mixtape.moe/knkzaw.jpg" width="640" height="427">
	<div>
		<h1>Welcome to FeedMeFeedback</h1>
	</div>
	<div class="pg">
		<br>
		<p>
			FeedMeFeedback is a website designed for both customers and companies.
		</p>
		<p> If you are a retail or service company, this would be an excellent avenue to learn from your
			customers' feedback. If you are an angry customer, this is the place to vent your frustration
			as well as provide constructive feedback. If you are a customer who is impressed by your favourite
			restaurant, giving encouraging feedback will give them motivation to keep up the hard work.
		</p>
		<p>
			More importantly, regardless who you are, our service offers unparalleled convenience.
			For customers, we have specially dedicated a mobile version of FeedMeFeedback so that you can
			simply give your feedback in less than a minute!
		</p>
		<p>
			So what are you waiting for? Sign up today!
		</p>
	</div>
</div>

