.home {
	/*margin-left: 200px;*/
	padding-top: 16px;
	width: 1366px;
	height: 768px;
	/*background-image: url("https://my.mixtape.moe/aghrjp.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: left top;
	position: absolute;
	margin: 0px;*/
}
