<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top my-color">
      	<img src="https://my.mixtape.moe/tilzoe.png" style="height: 50px; width:100px;">
        <a class="navbar-brand"></a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-home"> <a href="/"> Home </a> </a>
            </li>
            <li class="nav-item active">
              <a class="nav-home"> <a href="/view"> View </a> </a>
            </li>
            <li class="nav-item active">
              <a class="nav-home"> <a href="/config"> Configuration </a> </a>
            </li>
          </ul>
      </nav>
</header>

